* {
  margin: 0px;
}

main{
  min-height: 80vh;
}
.dropDown {
  color: black;
}

.cartBtn{
  vertical-align: text-bottom;
}
.spinner {
  margin: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dropdown-link {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
}

.dropdown-link:hover {
  background-color: #d0d0df;
  cursor: pointer;
}
p{
  margin: 0px;
}
.nav {
  margin: 0px;
  padding: 0px 30px;
}

.nav-link{
  color: black
}

.nav-link:hover,
.nav-link:focus {
  color:black;
}
.nav > .link {
  font-size: 35px;
}

.menuBtn {
  width: 30px;
 padding: 0px;
}
.cartItem img{
  width: 100%;
  height: 50px;
}
.subtotal {
  font-size: 23px;
}
select {
  border: none;
  border-radius: 17px;
  width:60px;
  padding: 7px 10px;
}

.itemSelect {
  width: 80px;
  margin: 10px 0px 20px 0px;
}

.link {
  text-decoration: none;
  color: black;
}

main {
  background-color: 'red';
  display: flex;
  flex-grow: 1;
}

body{
  margin: 0;
}

.productsView {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.product {
  position: relative;
  margin: 0px 20px 0px 20px;
  max-width: 20rem;
  width: 100%;
  padding: 10px;
}

.product:hover {
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product > .description {
  padding: 0px;
}

.product #price {
  font-size: 20px;
  margin: 0px;
  color:#343333
}
.product  .title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  color: black
}
.productImage {
  height: 300px;
  padding-bottom: 10px;
  display: flex;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.product button {
  width: 105px;
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
}
.product .addBtn {
  background-color: rgb(44, 173, 220);
  color: #eeee;
  border: 1px solid white;
  position: absolute;
  right: 30px;
  top: 30px;
}
.product button:hover {
  background-color: #eeee;
  color: rgb(70, 178, 217);
  border: 1px rgb(70, 178, 217) solid;
  cursor: pointer;
}

.itemContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;;
}

.itemImage {
  width: 40%;
}

.itemImage > .link {
  font-size: large;
}

.itemImage > img {
  margin-top: 20px;
}

.itemInfo {
  width: 40%;
  padding-top: 35px;
  padding-left: 40px;
}

.itemInfo > button {
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: black;
  cursor: pointer;
}
.itemInfo > p {
  margin: 15px 0px 20px 0px;
}
.itemInfo > button:hover {
  background-color: #343333;
}

.signInContainer {
  max-width: 600px;
  width: 100%;
  padding: 30px;
}

.delivery {
  max-width: 600px;
}

.delivery  h2, h1 {
  margin:15px 0px;
}

.checkout-price {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.checkout-price div{
  padding: 0px;
}

.radioBtn {
  display: none;
}

.starLabel{ 
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 30px;
}
