* {
    margin: 0px;
}

header {
    color: black;
    padding: 1rem;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
}

header > span {
    position: absolute;
    right: 0px;
}

.link {
    text-decoration: none;
    color: black;
}

main {
    background-color: 'red';
    display: flex;
    flex-grow: 1;
}

body {
    margin: 0;
}

.productsView {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.product {
    position: relative;
    margin: 0px 20px 0px 20px;
    max-width: 20rem;
    width: 100%;
    height: 27rem;
}

.product:hover {
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product>.description {
    padding: 0px 20px 0px 20px;
}

.product #price {
    font-size: 20px;
    margin-top: 10px;
    color: #343333
}

.product .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    color: black
}

.productImage {
    height: 300px;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    border-radius: 5px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.product button {
    width: 105px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}

.product .addBtn {
    background-color: rgb(44, 173, 220);
    color: #eeee;
    border: 1px solid white;
    position: absolute;
    right: 30px;
    top: 30px;
}

.product button:hover {
    background-color: #eeee;
    color: rgb(70, 178, 217);
    border: 1px rgb(70, 178, 217) solid;
    cursor: pointer;
}

.itemContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    ;
}

.itemImage {
    width: 40%;
}

.itemImage>.link {
    font-size: large;
}

.itemImage>img {
    margin-top: 20px;
}

.itemInfo {
    width: 40%;
    padding-top: 35px;
    padding-left: 40px;
}

.itemInfo>button {
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: black;
    cursor: pointer;
}

.itemInfo>p {
    margin: 15px 0px 20px 0px;
}

.itemInfo>button:hover {
    background-color: #343333;
}